.card {
  @include row-flex();
  margin-top: 30px;
  border: 0.5px solid #8E8E8E;
  border-radius: 15px;
  overflow: hidden;

  @include md-block() {
    margin-top: 60px;
  }

  &__img {
    @include col();
    @include size(12);
    @include size-md(5);
    position: relative;
    width: 100%;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--block{
      position: absolute;
      top: 40px;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      padding: 8px 20px;

      @include md-block() {
        top: 46px;
        font-size: 16px;
        padding: 12px 37px;
      }

      &-blue {
        background-color: $color-blue;
        color: $color-white;
      }

      &-yellow {
        background-color: $color-yellow;
        color: #323232;
      }
    }
  }

  &__description {
    @include col();
    @include size(12);
    @include size-md(7);
    padding: 12px 4px;

    @include md-block() {
      padding: 16px 20px;
    }

    &--title {
      font-size: 14px;
      font-weight: 600;
      color: $color-black;

      @include md-block() {
        font-size: 26px;
        line-height: 34px;
        font-weight: 400;
      }
    }

    &--time {
      display: flex;
      align-items: center;
      margin-top: 11px;
      margin-bottom: 14px;
      font-size: 12px;
      color: $color-gray;

      @include md-block() {
        font-size: 14px;
      }

      svg {
        margin-right: 6px;
      }
    }

    &__list {
      &--item {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 14px;
        padding-left: 30px;
        font-size: 14px;

        @include md-block() {
          flex-wrap: nowrap;
          font-size: 18px;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 16px;
          height: 16px;
          background-image: url("../img/sprites/sprite.svg#check");
          background-repeat: no-repeat;
          background-size: cover;
        }

        &-times {
          display: flex;
          align-items: center;
          margin-top: 10px;

          @include md-block() {
            margin-top: 0;
          }

          &--item {
            margin-left: 6px;
            background: #C5DCFF;
            border-radius: 11px;
            padding: 4px 16px;
          }
        }
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;

      &--price {
        margin-right: 16px;

        &-one {
          font-size: 30px;
          line-height: 20px;

          @include md-block() {
            font-size: 36px;
            line-height: 20px;
          }

          svg {
            width: 19px;
            height: 26px;

            @include md-block() {
              width: 17px;
              height: 23px;
            }
          }
        }

        &-two {
          padding-top: 0;
          font-size: 10px;
          font-weight: 600;
          color: $color-black;

          @include md-block() {
            padding-top: 8px;
            font-size: 14px;
            font-weight: 400;
          }

          svg {
            display: none;

            @include md-block() {
              width: 11px;
              height: 12px;
            }
          }
        }
      }
    }
  }

  &__btn {
    background-color: $color-yellow;
    border-radius: 23px;
    padding: 16px 42px;
    font-size: 14px;
    font-weight: 600;
    color: #292929;
    text-decoration: none;

    @include md-block() {
      font-size: 18px;
      font-weight: 400;
    }

    &:hover {
      opacity: .7;
    }
  }
}